h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
/*=====================header====================*/
#header .bg-dark {
    /*background-color: #000000 !important;*/
}

.octagonWrap {
    width:250px;
    height:250px;
    float: left;
    position: absolute;
    overflow: hidden;
    text-align:center;
    display:flex;
    align-items:center;
    z-index:999;
    justify-content:center;
    align-self:center;
    left: 10%;
    top: -235%;
}
.octagon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: #131313;
    border: 3px solid #ff0036;
}
.octagon:before {
    position: absolute;
    top: -3px; right: -3px; bottom: -3px; left: -3px;
    transform: rotate(-45deg);
    content: '';
    border: inherit;
}
#nav-menu-container .octagon img {
    margin-top: 150px;
    margin-left: 80px;
    transform: rotate(-45deg);
}
#navbarNav{
    margin-right: 1%;
}
#navbarNav ul li {
    position: relative;
}
#navbarNav ul li.active {
    position: relative;
}
#navbarNav ul li.active::after {
    content:"";
    position: absolute;
    top:0;
    left:30%;
    right: 30%;
    border: 2px solid red;
}
#navbarNav ul li.active::before {
    content:"";
    position: absolute;
    bottom:0;
    left:30%;
    right: 30%;
    border: 2px solid red;
}
#navbarNav ul li:hover::after {
    content:"";
    position: absolute;
    top:0;
    left:30%;
    right: 30%;
    border: 2px solid red;
}
#navbarNav ul li:hover::before {
    content:"";
    position: absolute;
    bottom:0;
    left:30%;
    right: 30%;
    border: 2px solid red;
}
#navbarNav ul li.active a{
    color: #fff;
}
#navbarNav ul li a:hover{
    color: #fff;
}
#navbarNav ul li a{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a4a4a4;
}


/*======================Intro Section===================*/
#demo a:hover{
    color: red;
}
#demo i{
    font-size: 25px;
}
#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
}
#demo .carousel-item .row{
    position: absolute;
    top: 0;
    left: 250px;
    right: 250px;
}
#demo .carousel-item .row h2:first-child{
    color: #fff;
}
#demo .carousel-item .row h2:last-child{
    color: red;
}
#demo .carousel-item .row p{
    padding: 30px 0;
    color: #fff;
}
#demo .carousel-item .row .btn1{
    background-color: #131313;
    border: none;
    border-radius: 0;
    font-size: 22px;
    color: #fff;
    padding: 10px 40px;
}
#demo .carousel-item .row .btn1.active{
    background-color: red;
}
#demo .carousel-item .row .btn1:hover{
    background-color: red;
}

/*=========================About creativia=======================*/
#about_creativia{
    padding: 90px;
    background-color: #fff3cd;
}
#about_creativia header p{
    font-weight: 600;
    margin: 20px 0 70px 0;
}
.accordion .card-header:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f068";
    float: left;
    margin-right: 45px;
}
.accordion .card-header.collapsed:after {
    content: "\f067";
}
.accordion .card{
    border: 0;
}
.accordion .card .card-header{
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 10px !important;
}
.accordion .card .card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
    margin-top: -11px;
    margin-bottom: 10px !important;
    padding: 10px 15px;
}
#box .static1{
    position: relative;
}
#box .static2{
    position: absolute;
    z-index: 2;
    margin-left: 225px;
}
/*#box .static1 img{*/
/*    margin-top: 15px;*/
/*    width: 95%;*/
/*}*/
/*#box .static2 img{*/
/*    margin-top: 15px;*/
/*    width: 123%;*/
/*}*/
#box .static3{
    position: absolute;
    z-index: 3;
    margin-left: 78px;
}